*, :root{
    --color_one:#F8F0E5;
    --color_two:#EADBC8;
    --color_three:#ccb397;
    --color_four:#102C57;
}
html{
    font-size: 12px;
    color: whitesmoke;
    font-family: 'Ubuntu', sans-serif;
    box-sizing: border-box;
}
body{
    background-color: var(--color_one);
    margin: 0;
    padding: 0;
}
.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100svh;
    max-width: 100svw;
    overflow: hidden;
}

/* Main section */
main{
    min-height: 100%;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    padding: 2rem 0rem;
}


fieldset{
    border-radius:1.1rem;
    padding: 3rem;
    border: none;
    background-color: var(--color_two);
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

legend{
    margin: 0;
    padding: 0;
    width: 100%;
}
.legend-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
legend .fa-facebook, legend .fa-instagram{
    font-size: 5rem;
    color: whitesmoke;
    background-color: var(--color_three);
    padding: 1rem;
    border-radius:1.1rem;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 1px -5px 2px inset;
    text-shadow:  0px 4px 3px rgba(0,0,0,0.4), 0px 8px 13px rgba(0,0,0,0.1), 0px 18px 23px rgba(0,0,0,0.1);
    transition-property: box-shadow, text-shadow;
    transition-duration: .2s;
    transition-timing-function: linear;
}
.fa-facebook:hover, .fa-instagram:hover{
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 6px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 1px 0px 2px inset; 
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}
.mozuweb{
    height: auto;
    width: 12rem;
    border-radius: 50%;
    padding: 0.5rem;
    background-color: var(--color_three);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 1px -5px 2px inset;
}

.cards{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 4rem;
}
.card{
    background-color: var(--color_three);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 1px -5px 2px inset;
    min-width: 25rem;
    border-radius: 1.1rem;
    cursor: pointer;
    transition-property: box-shadow;
    transition-duration: .2s;
    transition-timing-function: linear;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

/* Card on hover effects */
.card:hover{
    box-shadow: rgba(0, 0, 0, 0.4) 0px 4px 12px, rgba(0, 0, 0, 0.3) 0px 14px 26px -6px, rgba(0, 0, 0, 0.2) 2px 0px 4px inset; 
}
.card:hover .header{
    box-shadow: rgba(0, 0, 0, 0.4) 0px 4px 12px, rgba(0, 0, 0, 0.3) 0px 14px 26px -6px, rgba(0, 0, 0, 0.2) 2px 0px 4px inset; 
}
.card:hover .header .fa{
    margin-left: 6rem;
}

.card .header{
    display: flex;
    align-items: center;
    background-color: var(--color_three);
    border-radius: 1.1rem;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 1px -5px 2px inset;
    min-width: 105%;
    gap: 1rem;

    transition-property: box-shadow;
    transition-duration: .2s;
    transition-timing-function: linear;
}
.card .header h2{
    font-weight: normal;
    font-size: 2.5rem;
    margin-left: 1rem;
}
.card .header .fa{
    color: var(--color_four);
    font-weight: normal;
    font-size: 3.5rem;
    margin-right: 1rem;
    text-align: start;
    flex-grow: 1;

    transition-property: margin-left;
    transition-duration: .2s;
    transition-timing-function: linear;
}
.card .content{
    font-size: 1.5rem;
    font-weight: normal;
    margin: 1rem;
    display: flex;
}
.card .content .description-hidden{
    display: none;
}
.card .content ul{
    list-style-type: none;
    padding: 0;
}
.card .content ul li{
    padding: 0.5rem 0;
}
.card .content .fa-check{
    color: var(--color_four);
}
.card .footer{
    color: var(--color_four);
    font-size: 2rem;
    background-color: var(--color_one);
    text-align: center;
    border-radius: 1.1rem;
    min-width: 100%;
    font-weight: bold;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 1px -5px 2px inset;

    transition-property: border;
    transition-duration: .2s;
    transition-timing-function: ease-in-out;
}


/* Mobile device screen */

@media (max-width:768px){
    .legend-container{
        gap: 2rem;
    }
    legend .fa-facebook, legend .fa-instagram{
        font-size: 3.5rem;
    }
    .mozuweb{
        width: 9rem;
    }
}