html{
    font-size: 12px;
    color: whitesmoke;
    font-family: 'Ubuntu', sans-serif;
    box-sizing: border-box;
}
body{
    background-image: url("./assets/images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;

    margin: 0;
    padding: 0;
}
.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100svh;
    max-width: 100svw;
    overflow: hidden;
}

/* Javascript classes */
.hidden{
    display: none;
}

/* Main section */
main{
    min-height: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0rem;
    padding-bottom: 2rem;
}

.header-container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-container .title{
    display: flex;
    align-items: center;
}
.title p {
    align-self: center;
    font-size: 5rem;
} 
.header-container .fa-facebook, .header-container .fa-instagram{
    font-size: 5rem;

    transition-property: color;
    transition-duration: .15s;
    transition-timing-function: linear;
}
.header-container .fa-facebook:hover, .header-container .fa-instagram:hover{
    color: #b0ebfe90;;
}
.header-container .fa-facebook, .header-container .fa-instagram{
    color: white;
}
.title .mozuweb{
    height: auto;
    width: 14rem;
    border-radius: 50%;
}

/* Card container */

fieldset{
    padding: 3rem;
    border: none;
}
.cards{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
}
.card{
    background-color: #060f1e90;
    backdrop-filter: blur(0.3rem);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 4px 12px, rgba(0, 0, 0, 0.3) 0px 14px 26px -6px, rgba(0, 0, 0, 0.2) 2px 0px 4px inset; 
    width: 30rem;
    cursor: pointer;
    border-radius: 8px;

    transition-property: background-color;
    transition-duration: .2s;
    transition-timing-function: linear;

    display: flex;
    flex-direction: column;
}
.card > * {
    padding: 0.5rem 2rem;
    margin: 0;
}
/* Card on hover effects */
.card:hover{
    background-color: #0f243c80;
}
.card .header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #b0ebfe;
}
.card .header h2{
    font-weight: normal;
    font-size: 2.5rem;
}
.card .content{
    font-size: 1.5rem;
    font-weight: normal;
    display: flex;
    text-align: left;
}
.card .content p{
    line-height: 1.4;
    margin: 0;
    font-size: 1.6rem;
    color: #b0ebfe90;
}
.card .content .description-hidden{
    display: none;
}
.card .footer{
    color: #b0ebfe;
    font-size: 2.5rem;
}

/* Form page */
form{
    min-width: 100%;
}
form ul{
    list-style: none;
    padding: 2rem;
}
form li{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
}
form li input, form li textarea, form li input::placeholder, form li textarea::placeholder{
    color: var(--color-four); 
}

button{
    background: #458f9570;
    background: linear-gradient(0deg, rgba(69,143,149,0.5) 0%, rgba(124,223,217,0.8) 100%);
    border-radius: 0.4rem;
    font-size: 2rem;
    width: fit-content;
    padding: 0.5rem;
    align-self: center;
    border: none;
    cursor: pointer;
}
button:hover{
    background: #458f9530;
    background: linear-gradient(0deg, rgba(69,143,149,0.1) 0%, rgba(124,223,217,0.5) 100%);
}

textarea{
    vertical-align: top;
    height: 5em;
}
input, textarea{
    background-color: #7cdfd925;
    border: none;
    padding: 0.5rem;
    border-radius: 0.4rem;
    font-size: 2.5rem;
}


/* Mobile device screen */

@media (max-width:768px){
    .header-container .fa-facebook, .header-container .fa-instagram{
        font-size: 3rem;
    }
    .title .mozuweb{
        height: 6rem;
        width: auto;
    }
    .title p {
        align-self: center;
        font-size: 3rem;
    } 
    .cards{
        gap: 1.5rem;
    }
    .card{
        background-color:#102b4a60;
        max-width: 25rem;
    }
    .card .header h2, .card .footer{
        font-size: 2rem;
    }
    .card .content p{
        line-height: 1.3;
        font-size: 1.4rem;
 
    }
    fieldset{
        padding: 0;
    }
    .card .footer{
        outline: none;
    }
    /* form */
    input, textarea{
        font-size: 1.5rem;
    }

    /* Card on hover effects */
    .card:hover{
        box-shadow: none;
    }
    .card:hover .header .fa{
        margin-left: 0;
    }
}